<a routerLink="/tweet/{{ t.id }}">
  <div class="bg-zinc-700 p-2 shadow-md mb-6">
    <div class="flex items-center">
      <div class="hover:opacity-80">
        <a routerLink="/user/{{ t.owner.id }}">
          <div class="avatar">
            <div class="w-20 rounded-full">
              <img src="{{ t.owner.img_url }}" />
            </div>
          </div>
          <p class="text-center text-sm font-semibold">
            {{ t.owner.username }}
          </p>
        </a>
      </div>

      <div class="flex-1 text-center font-semibold">
        <p>{{ t.content }}</p>
      </div>

      <div>
        <div
          *ngIf="auth && !isLikedLoading"
          class="mb-4 hover:opacity-80 hover:cursor-pointer"
          (click)="like()"
          [ngClass]="{ 'pointer-events-none opacity-80': performLikeLoading }"
        >
          <fa-icon
            [icon]="icons.heart"
            size="xl"
            [ngClass]="{ 'text-rose-500': isLiked }"
          ></fa-icon>
          <p class="text-center">{{ t.likes_count }}</p>
        </div>
        <div class="mb-4 hover:opacity-80 hover:cursor-pointer">
          <fa-icon [icon]="icons.replay" size="xl"></fa-icon>
          <p class="text-center">{{ t.responses_count }}</p>
        </div>
        <div
          *ngIf="auth && auth.user.id === t.owner.id"
          class="mb-4 hover:opacity-80 hover:cursor-pointer"
          (click)="isDeleteModalOpen = true"
        >
          <fa-icon [icon]="icons.trash" size="xl"></fa-icon>
        </div>
      </div>
    </div>
    <p class="text-white text-center text-sm">
      {{ getTime(t.created_at) }}
      <span *ngIf="this.t.replay" class="text-yellow-500"> (replay 🐥)</span>
    </p>
  </div>
</a>

<!-- delete modal -->
<div class="modal" [ngClass]="{ 'modal-open': isDeleteModalOpen }">
  <div class="modal-box bg-zinc-800">
    <h3 class="font-bold text-lg">Delete Tweet</h3>
    <p class="py-4 font-semibold">
      {{ auth?.user?.username }}, are you sure you want to delete the tweet? 🗑
    </p>
    <div class="modal-action">
      <button
        [ngClass]="{ 'btn-disabled': DeleteLoading }"
        (click)="isDeleteModalOpen = false"
        class="btn btn-accent"
      >
        Cancel
      </button>
      <button
        (click)="deleteTweet()"
        [ngClass]="{ loading: DeleteLoading }"
        class="btn btn-error"
      >
        Delete
      </button>
    </div>
  </div>
</div>
