<div class="hero min-h-screen bg-hero-bg">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there 👀✋</h1>
      <p class="mb-5">
        A twitter clone made by
        <a
          class="font-bold"
          href="https://github.com/KhaledAlorayir"
          target="_blank"
          >Khaled Alorayir</a
        >
      </p>
      <a routerLink="/home" class="btn btn-lg btn-wide">Home</a>
    </div>
  </div>
</div>
